body {
  background-color: white;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  margin: 5px;
}

nav {
  height: 3px;
}  

.header-priority {
  z-index: 1000;
  position: fixed;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-table {
  width: 100%;
  border: 0px;
  border-style: solid;
}

.main-panel-left-td {
  width: 20%;
  min-width: 300px;
}

.window-title {
  color:rgb(68, 68, 68);
  height: 32px;
  padding-left: 15px;
  padding-top: 5px;
  box-sizing: border-box;
  width: 100%;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
}

.header-title {
  background-image: linear-gradient(to bottom, white, rgb(206, 206, 206));
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
}  

.window-explorer-title {
  background-color: rgb(223, 230, 237);
  font-size: 13px;
  font-weight: 400;
  border-radius: 8px 8px 0px 0px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 8px;
  overflow: hidden;

  width: 100%;
  box-sizing: border-box;
  border-color: rgb(180, 180, 180);
  border-style: solid;
  border-width: 1px;
  height: 300px;
}

.flex-item-1 {
  background-color: rgb(223, 230, 237);
  font-size: 13px;
  box-sizing: border-box;
  font-weight: 400;
  width: 100%;
  height: 32px;
  padding-left: 15px;
  padding-top: 5px;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;

}



.grid-container {
  display: grid;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;

  height: 500px;
  box-sizing: border-box;
  border-color: rgb(180, 180, 180);
  border-style: solid;
  border-width: 1px;
  grid-template-rows: 36px 80px auto 15px;
}

.grid-item {
  background-color: white;
  font-size: 12px;
  box-sizing: border-box;
  font-weight: normal;
  width: 100%;
  padding-left: 15px;
  padding-top: 5px;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  color: rgb(90, 90, 90);
}

.grid-container .grid-item:nth-child(1) {
  background-color: rgb(223, 230, 237);
  font-size: 13px;
  font-weight: bold;
}

.grid-container .grid-item:nth-child(4) {
  background-color: rgb(223, 230, 237);
  font-size: 13px;
  font-weight: bold;
}
